//fonts settings
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto:400,400i,500,500i');
//fonts settings

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px!important;
}
.region-secondary-menu {
  .menu--account {
    .content {
      .menu {
        & > .menu-item {
          a {
            color: #f44336;
            font-family: 'Roboto', sans-serif;
            font-size: 16px!important;
          }
          &:first-child {
            background: left center url("../img/account-icon.png") no-repeat;
            padding-left: 6px;
          }
          &:last-child {
            background: left center url("../img/loginout-icon.png") no-repeat;
            padding-left: 17px;
          }
        }
      }
    }
  }
}
#content {
  a, a.link {
    border: none;
  }
  .btn:hover, .btn:focus, .btn.focus {
    color: #ffffff;
  }
}

.region-header {
  float: left;
  .site-branding__text {
    padding-top: 15px;
  }
}

.region-secondary-menu {
  float: right;
  margin-top: 15px;
}

#page-wrapper {
  #page {
    background-color: #282828;
    #main-wrapper, #header {
      background: none;
    }
  }
}

.scrollbar-dynamic {
  max-height: 600px;
  overflow: auto;
  & > ul {
    padding-left: 0;
  }
}

.content {
  .left-sidebar {
    padding-right: 0;
    .page-list {
      margin-top: 30px;
      .add-page {
        width: 100%;
        background-color: #0074d9;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        border-radius: 0;
        background-image: none;
      }

      .pages {
        .page-line {
          list-style: none;
          border-bottom: 1px solid #4a4949;
          line-height: 5;
          .page-title {
            background: left center url("../img/page_icon.png") no-repeat;
            padding-left: 65px;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            color: #ffffff;
          }
          .page-block-correction {
            float: right;
            .btn-page-delete {
              width: 50px;
              padding: 2px 0;
              background-color: #f44336;
              color: #ffffff;
              border-radius: 0;
              font-family: 'Roboto', sans-serif;
              font-size: 10px;
              margin-left: 10px;
            }
            .btn-page-edit {
              width: 50px;
              padding: 2px 0;
              background-color: #0074d9;
              color: #ffffff;
              border-radius: 0;
              font-family: 'Roboto', sans-serif;
              font-size: 10px;
              margin-left: 10px;
            }
            margin-right: 12px;
          }
        }
      }
      .save-pagelist {
        background-color: #f44336;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: #ffffff;
        width: 115px;
        height: 39px;
        margin: 20px 10px 10px 0;
      }
    }
  }
}
.right-canvas {
  .panel-group {
    .panel {
      border-radius: 0;
      padding-left: 0;
      padding-right: 0;
      .panel-heading {
        padding: 0 10px;
        background-color: #0074d9;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: #ffffff;
        .accordion-toggle:after {
          font-family: 'Glyphicons Halflings';
          font-size: 10px;
          margin-top: 8px;
          content: "\e114";
          float: right;
          color: white;
        }
        .accordion-toggle.collapsed:after {
          content: "\e080";
        }
        .panel-title {
          a {
            display: block;
            line-height: 2.7;
            &:hover, &:focus, &:link, &:visited, &:active {
               color: #ffffff;
               text-decoration: none;
            }
          }
        }
      }
      .panel-body {
        background-color: #333333;
        border-top: none;
        padding-bottom: 5px;
        padding-top: 20px;
        .components-buttons, .pages {
          list-style: none;
          padding: 0;
          li {
            padding-right: 15px;
            padding-left: 15px;
            margin-bottom: 15px;
          }
          .btn-component {
            width: 100%;
            text-align: center;
            background-color: #0074d9;
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            border-radius: 2px;
            background-image: none;
          }
        }
      }
    }
  }
}
.right-canvas-wrapper {
  background-color: #ffffff;
  .gridstack-area {
    position: relative;
  }
}

@media (min-width: 851px) {
  .layout-sidebar-first {
    .main-content {
      margin-left: 0!important;
      margin-right: 0;
    }
  }
  .layout-one-sidebar {
    .main-content {
      width: 100%!important;
    }
  }
  .layout-container {
    max-width: 100%!important;
  }
}
/* end of temporary common template settings*/

.main-canvas > .grid-stack {
  min-height: 410px;
}
.grid1 {
  background: #c6ecf1;
  min-height: 400px;
}
.main-canvas {
  .save-current-page {
    background-color: #f44336;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #ffffff;
    width: 115px;
    height: 39px;
    margin: 20px 10px 10px 0;
    & > a:hover {
      color: #ffffff;
    }
  }

  .gs-button {
    background-color: #0074d9;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #ffffff;
  }
}
.grid-stack-item-content {
  color: #2c3e50;
  text-align: center;
  background-color: #c4bec0;
}
.btn-grid-remove {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
}

.btn-grid-edit {
  position: absolute;
  top: 5px;
  right: 30px;
  z-index: 10;
}

@media (max-width: 768px) {
  .grid-stack-item {
    position: relative !important;
    width: auto !important;
    left: 0 !important;
    top: auto !important;
    margin-bottom: 20px;
  }
  .grid-stack-item {
    .ui-resizable-handle {
      display: none;
    }
  }
  .grid-stack {
    height: auto !important;
  }
}

.mbc-widget-wrapper {
  position: relative;
  height: 100%;
}
.mbc-widget {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

/*contdown template*/
.counter-block {
  margin-right: 10px;
}
.counter-block {
  .counter {
    width: 85px;
    height: 52px;
  }
}
.counter-block {
  .counter {
    .number {
      font-size: 50px;
      line-height: 48px;
    }
  }
}

/*contdown template*/

.card {
  .panel-heading {
    img {
      max-height: 150px;
      width: auto;
    }
  }
}
.mbc-file-manager {
  max-height: 300px;
  width: 100%;
  overflow: hidden;
}
.img-preview-item {
  a {
    img {
      height: 100px;
      width: 100px;
    }
  }
}

/*menubar template*/
.menu-items-controls-list {
  list-style: none;
}
.menu-items-controls-list {
  .menu-item-row:hover {
    cursor: pointer;
  }
}

.grid-stack-item {
  .grid-stack-item-content, .placeholder-content {
    left: 0!important;
    right: 0!important;
  }
}

.modal-content {
  .btn:hover, .btn:focus, .btn.focus {
    color: #ffffff;
  }
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  .gs-button-ok {
    background-color: #f44336;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ffffff;
  }
  .gs-button-cancel {
    background-color: #0074d9;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ffffff;
  }
}

#page-wrapper {
  #main-wrapper {
    .layout-main {
      margin: 0;
    }
  }
  .site-footer {
    padding-top: 0;
    .site-footer__bottom {
      text-align: center;
      margin-top: 0;
      border-top: none;
      .content {
        padding: 0;
        p {
          font-family: 'Roboto', sans-serif;
          font-size: 14px;
        }
      }
    }
  }
}