<div ng-controller="ModalController as $ctrl" class="modal-demo">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Edit element</h3>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group" ng-repeat="(key,field) in $ctrl.settings">
        <div ng-if="(key === 'tabs')">
          <label>{{key}}</label>
          <input ng-model="settings.mbcTabTitle.title" type="text" class="form-control">
          <input type="submit" class="btn btn-default" id="submit" value="Save" ng-click="mbcAddTab()">
          <ul>
            <li ng-repeat="t in $ctrl.settings[key] track by $index" pid="{{$index}}"><a ng-click="mbcEditTab($event)">{{ t }}</a><a ng-click="mbcDeleteTab()"><span class="glyphicon glyphicon-remove"></span></a></li>
          </ul>
        </div>
        <div ng-if="(key != 'tabs')&&(key != 'mbcTabTitle')">
          <label>{{key}}</label>
          <div ng-if="(key == 'backgroundColor')">
            <input minicolor="true" type="text" class="form-control" ng-model="$ctrl.settings[key]"  value="{{field}}">
          </div>
          <div ng-if="(key != 'backgroundColor')">
            <input type="text" class="form-control" ng-model="$ctrl.settings[key]"  value="{{field}}">
          </div>

          <div ng-if="(key === 'imageUrl') || (key === 'backgroundUrl') || (key === 'cardImage')">
            <file-selection url-type="{{key}}"></file-selection>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
  </div>
</div>