<h2>{{  title }}</h2>

<div ng-app="mbcApp">
    <div class="left-sidebar">
        <div ng-controller="PageList">
            {% verbatim %}
             <ul class="pages" dnd-list="pages">
                <li ng-repeat="page in pages" weight="{{page.field_weight_value}}" dnd-draggable="page" dnd-effect-allowed="move" dnd-moved="pages.splice($index, 1)">
                    <a href="page/{{ page.nid }}" ng-bind-html="page.title"></a>
                    (<a href="#" ng-click="deletePage(page.nid)">Delete</a>)
                </li>
              </ul>
              <hr />
              <form ng-submit="newPage()" >
                <div class="form-group">
                    <label>Create a new Page</label>
                    <input ng-model="title" class="form-control" placeholder="Page title" autofocus  />
                    <button class="btn btn-primary" type="submit">Add Page</button>
                </div>
              </form>
            {% endverbatim %}
        </div>
    </div>
    <div class="main_canvas">

    </div>
</div>