<form class="form-horizontal mbc-widget">
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-10">
      <input type="email" ng-model="w.settings.formMail.value" class="form-control" id="email" placeholder="Enter email">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Password:</label>
    <div class="col-sm-10">
      <input type="password" ng-model="w.settings.formPassword.value" class="form-control" id="pwd" placeholder="Enter password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label><input type="checkbox" ng-model="w.settings.formRememberMe.value"> Remember me</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" class="btn btn-primary" ng-model="w.settings.formButton.state" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
        {{w.settings.formButton.value}}
      </button>
    </div>
  </div>
</form>