.grid1 {
  background: #c6ecf1;
}
.grid-stack-item-content {
  color: #2c3e50;
  text-align: center;
  background-color: #c4bec0;
}

@media (max-width: 768px) {
  .grid-stack-item {
    position: relative !important;
    width: auto !important;
    left: 0 !important;
    top: auto !important;
    margin-bottom: 20px;
  }
  .grid-stack-item .ui-resizable-handle {
    display: none;
  }
  .grid-stack {
    height: auto !important;
  }
}

.datepicker.dropdown-menu {
  width: 250px;
  height: 290px;
}
.datepicker.dropdown-menu button {
  outline: none;
  border: 0px;
}
.datepicker.dropdown-menu tbody {
  height: 180px;
}
.datepicker.dropdown-menu tbody button {
  padding: 6px;
}
.datepicker.dropdown-menu.datepicker-mode-1 tbody button,
.datepicker.dropdown-menu.datepicker-mode-2 tbody button {
  height: 65px;
}
