<div id="borderplace">
  <label>{{field.title}}</label>
  <div class="btn-group">
    <label class="btn btn-primary" ng-model="$ctrl.settings[key].value.top" uib-btn-checkbox>Top</label>
    <label class="btn btn-primary" ng-model="$ctrl.settings[key].value.right" uib-btn-checkbox>Right</label>
    <label class="btn btn-primary" ng-model="$ctrl.settings[key].value.bottom" uib-btn-checkbox>Bottom</label>
    <label class="btn btn-primary" ng-model="$ctrl.settings[key].value.left" uib-btn-checkbox>Left</label>
  </div>
</div>
