<div id="fontstyle">
  <label>{{field.title}}</label>
  <div class="btn-group">
    <label class="btn btn-primary" ng-model="$ctrl.settings[key].value.bold" uib-btn-checkbox><b>B</b></label>
    <label class="btn btn-primary" ng-model="$ctrl.settings[key].value.italic" uib-btn-checkbox><i>I</i></label>
    <label class="btn btn-primary" ng-model="$ctrl.settings[key].value.underline" uib-btn-checkbox><u>U</u></label>
    <label class="btn btn-primary" ng-model="$ctrl.settings[key].value.linethrough" uib-btn-checkbox><s>S</s></label>
  </div>
</div>
